.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navActive {
  color: #ff6b6b;
}

.navInactive {
  color: #fff;
}

a:hover {
  color: #aaa;
  text-decoration: underline;
  cursor: pointer;
}
